.containerButtons {
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
	gap: 7px;
	padding-right: 14px;
}
.containerButtons button {
	display: flex;
	width: 110px;
	padding: 10px 12px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 22px;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	border: none;
}
.cancelButton {
	background: var(--White, #fff);
	color: var(--Accent, #161616);
}
.nextButton {
	background: var(--Accent, #161616);
	color: var(--White, #fff);
}
