.container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 343px;
	height: 188px;
	flex-shrink: 0;
	border-radius: 15px;
	border: 1px solid var(--Border, #ebebec);
	background: var(--White, #fff);
	margin: 15px 16px;
}
.editIcon {
	position: absolute;
	top: 0;
	right: 0;
}
